@font-face {
  font-family: 'pokemon';
  src: url('./images/pokemon.ttf') format('truetype');
}

/* Body */

.header{
    font-family: 'Caveat Brush', cursive;
    font-size: 2rem;
    text-align: center;
    margin:4rem;
    margin-top:2rem;
    margin-bottom:6rem;
}

.versusContainer{
    margin:auto;
    position: relative;
    display:flex;
    justify-content: space-evenly;
    width: 40rem;
    height:23rem;

}


/* Names */

.name1{
  position: absolute;
  font-family: pokemon;
  font-size: 1.7rem;

  bottom: 0;
  right: 0;
  margin-bottom:7rem;
  margin-right:4rem;
}

.name2{
  position: absolute;
  font-family: pokemon;
  font-size: 1.7rem;

  top:0;
  left:0;
  margin-top: -5rem;
  margin-left: 3rem;
}


/* HP Bar */

.progressBar{
  position:absolute;
  top:0;
  left:0;
  margin-left: 7rem;
  margin-top: .8rem;
  width:13rem;
  height: .8rem;
  background-color: black;
  border-radius: 10px;
  overflow:hidden;
}

.progressBar .fill{
  width: 0%;
  height: 50%;
  background-color: gray;
  border-radius: 3px;
  margin: 3px;
  margin-left:4px;
  margin-right: 4px;
  transition: all 2s;
}

.progressBar2{
  position:absolute;
  bottom:0;
  right:0;
  margin-right: 3.5rem;
  margin-bottom: 4rem;
  width:13rem;
  height: .8rem;
  background-color: black;
  border-radius: 10px;
  overflow:hidden;
}

.progressBar2 .fill{
  width: 0%;
  height: 50%;
  background-color: gray;
  border-radius: 3px;
  margin: 3px;
  margin-left:4px;
  margin-right: 4px;
  transition: all 2s;
}

/* Bottom Container */

.rpsContainer{
    margin:auto;
    position:relative;
    width:40rem;
    height:10rem;
}


.rpsContainer .button1{
  position:absolute;
  cursor: pointer;
  top:0;
  left:0;
  margin-left: 15rem;
  margin-top: .1rem;
  height:2.3rem;
  display:none;
}
.rpsContainer .button2{
  position:absolute;
  cursor: pointer;
  top:0;
  left:0;
  margin-left: 15rem;
  margin-top: 2rem;
  height:2.1rem;
  display:none;
}
.rpsContainer .button3{
  position:absolute;
  cursor: pointer;
  top:0;
  left:0;
  margin-left: 15rem;
  margin-top: 3.9rem;
  height:2.1rem;
  display:none;
}

.rpsContainer .button4{
  position:absolute;
  top:0;
  left:0;
  margin-left: 15rem;
  margin-top: 5.6rem;
  height:1rem;
  display:none;
  z-index: -1;
}

.moves{
  font-family:'pokemon';
  font-size: 1.6rem;
  border: none;
  background:none;
}

.pokemonBorder{
    position:absolute;
    height: 12rem;
    width:40rem;
    margin-top:-1.7rem;
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }

.you .img{
    position: absolute;
    width:14rem;
    bottom:0rem;
    left: 1rem;
    animation: 3s ease-out 0s 1 slideInFromLeft;
}


.opponent .img{
    position:absolute;
    top:0;
    margin-top: -6rem;
    width:12rem;
    animation: 3s ease-out 0s 1 slideInFromRight;
}

/* Health Bars */

.healthBorder{
    position:absolute;
    bottom:0;
    width:20rem;
    margin-bottom: .5rem;
    margin-right: -15rem;
    z-index: 1;
}

.healthBorderFlipped{
    position: absolute;
    top:0;
    left:2rem;
    width:20rem;
    z-index: 1;
}

.HP1{
  position:absolute;

  font-family: pokemon;
  font-size: 1.2rem;

  left: 3.2rem;
}

.HP2{
  position:absolute;
  font-family: pokemon;
  font-size: 1.2rem;

  right:17rem;
  bottom:3.58rem;
}

.level1{
  position:absolute;
  
  font-family: pokemon;
  font-size: 1.2rem;

  left: 7rem;
  top: -2.2rem;

}

.level2{
  position:absolute;
  
  font-family: pokemon;
  font-size: 1.2rem;

  right: 8rem;
  bottom: 5.2rem;
}

/* Introtext */

.introText{
  font-family: pokemon;
  font-size: 1.7rem;
  padding:2rem;
  padding-top:1rem;
  padding-left:2.5rem;
}

/* pointer animations for options and characters*/

.pointer1{
  position: absolute;

  top:0;
  left:0;
  margin-left: 13.8rem;
  margin-top: .6rem;
  height:2.3rem;
  width: 18px;
  display:none;
}

.pointer2{
  position: absolute;

  top:0;
  left:0;
  margin-left: 13.8rem;
  margin-top: 2.5rem;
  height:2.1rem;
  width: 18px;
  display:none;
}

.pointer3{
  position: absolute;

  top:0;
  left:0;
  margin-left: 13.8rem;
  margin-top: 4.4rem;
  height:2.1rem;
  width: 18px;
  display:none;
}

.pointer4{
  position: absolute;
  width: 25px;
  right: 12rem;
  display:none;

}

.pointer5{
  position: absolute;
  width: 25px;
  left: 1rem;
  bottom:4rem;
  display:none;

}

.pointer6{
  position: absolute;
  width: 25px;
  right: 1.5rem;
  display:none;

}

.pointer7{
  position: absolute;
  width: 25px;
  left: 13.8rem;
  bottom:4rem;
  display:none;

}

.invisible1{
  position: absolute;
  cursor: pointer;
  width:10rem;
  height: 15rem;
  right: 3rem;
  top: -4rem;

  background: transparent;
  border: none !important;
  font-size:0;
  display:none;
}

.invisible2{
  position: absolute;
  cursor: pointer;
  width:10rem;
  height: 12rem;
  left: 3rem;
  bottom: .5rem;

  background: transparent;
  border: none !important;
  font-size:0;
  display:none;
}

.rpsContainer .button1:hover ~ .pointer1{
  display:block;
}

.rpsContainer .button2:hover ~ .pointer2{
  display:block;
}

.rpsContainer .button3:hover ~ .pointer3{
  display:block;
}


.invisible1:hover ~ .pointer4{
  display:block;
}

.invisible2:hover ~ .pointer5{
  display:block;
}

.invisible1:hover ~ .pointer6{
  display:block;
}

.invisible2:hover ~ .pointer7{
  display:block;
}

